body {
    margin: 0;
    background-color: #1F2937;
    
}

h1, h3 {
    margin: 0;
    color: white;
}

#green {
    color: #34D399;
}

#block {
    width: 60%;
    margin: 10% auto;
}

#gen-pass-block {
    border-top: 1px solid #2F3E53;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 5px;
}

#gen-btn{
    background-color: #34D399;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    text-shadow: 0px 0px 1px black;
}

#slogan {
    color: #D5D4D8;
}

.pass-generated {
    background-color: #273549;
    width: 45%;
    min-width: 150px;
    padding: 10px 7px;
    color: #34D399;
    border-radius: 5px;
}